* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 10px;
    height: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}

main h2 {
    margin-top: 20px;
    text-transform: uppercase;
}

main button {
    padding: 1rem 2rem;
    background-color: #01352c;
    border: none;
    color: white;
    border-radius: 10px;
    text-transform: capitalize;
    cursor: pointer;
}

main button:hover {
    background-color: #42b883;
}

main::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/waste_bg.jpg');
    background-size: cover;
}

section p {
    margin-top: 20px;
    font-size: 1.5rem;
    text-align: center;
}

.icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icons .icon img {
    height: 50px;
    width: 50px;
}

img {
    height: 100%;
    width: 100%;
}

form {
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}



button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.checkbox input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
    cursor: pointer;
}

.checkbox label {
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

aside {
    margin-top: 50px;
    color: #01352c;
    font-size: 1.2rem;
}

fieldset {
    padding: 30px;
}

fieldset legend {
    font-size: 1.5rem;
}

aside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

aside .msg img {
    width: 100px;
    height: 100px;
}

aside .msg {
    display: flex;
    align-items: center;
}

aside p {
    width: 400px;
    text-align: justify;
}

.home-container a {
    padding: 1rem 1.5rem;
    background-color: #01352c;
    color: white;
    text-decoration: none;
}

footer>.owner-info {
    margin-top: 10px;
    background-color: #01352c;
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

footer .links>* {
    width: 50px;
    height: 50px;
}

footer .links a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: #01352c;
    color: white;

}

footer .contactme {
    padding: 10px;
    font-size: 1.3rem;
    text-transform: capitalize;
    text-align: center;
}

footer>p {
    text-align: center;
    padding: 10px;
}